# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/backend/__pycache__
/backend/env
/backend/FootAnalytics/__pycache__
/backend/FootAnalytics/migrations/__pycache__
/env